<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <title>Home</title>
  </head>
  <body>
    <header>
      <section class="logo-buscar-copy">
        <a href="#"
          ><img src="/images/logo-mercado-liebre.svg" alt="logo" class="logo"
        /></a>
        <div>
          <form action="/producto" method="GET">
            <input
              type="text"
              placeholder="Buscar producto, marcas y algo mas"
              class="buscar"
            /><button><i class="fas fa-search"></i></button>
          </form>
        </div>
        <p class="copy">
          <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta
          de crédito
        </p>
      </section>

      <div class="cont-burguer"><i class="fas fa-bars burger"></i></div>
      <section class="nav">
        <ul class="ofertas-tiendas">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
          <li><a href="#"></a></li>
        </ul>
        <ul class="cuenta-login">
          <li>
            <a href="/register">Creá tu cuenta</a><i class="far fa-id-card"></i>
          </li>
          <li>
            <a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i>
          </li>
          <li>
            <a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i>
          </li>
        </ul>
      </section>
    </header>
    <img class="banner" src="/images/img-home-banner.jpg" alt="banner" />
    <main>
      <section>
        <h3>Basado en tu última visita</h3>
        <div class="articulos">
          <article>
            <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" />
            <div class="detalles">
              <div class="envio">
                <i class="fas fa-truck"></i>
              </div>
              <p class="precio">$6.770</p>
              <span class="descuento">40% off</span>
            </div>
            <p class="descripciones">Cafetera Moulinex</p>
          </article>
          <article>
            <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" />
            <div class="detalles">
              <div class="envio">
                <i class="fas fa-truck"></i>
              </div>
              <p class="precio">$230.000</p>
              <span class="descuento">20% off</span>
            </div>
            <p class="descripciones">MacBook Pro 2019</p>
          </article>
          <article>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="galaxy" />
            <div class="detalles">
              <div class="envio">
                <i class="fas fa-truck"></i>
              </div>
              <p class="precio">$70.500</p>
              <span class="descuento">10% off</span>
            </div>
            <p class="descripciones">Samsung Galaxy S10</p>
          </article>
          <article>
            <img src="/images/img-tv-samsung-smart.jpg" alt="Smart-tv" />
            <div class="detalles">
              <div class="envio">
                <i class="fas fa-truck"></i>
              </div>
              <p class="precio">$6.770</p>
              <span class="descuento">40% off</span>
            </div>
            <p class="descripciones">SmartTv Samsung 43"</p>
          </article>
        </div>
      </section>
      <section>
        <h3>Ofertas</h3>
        <div class="articulos">
          <article>
            <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" />
            <div class="detalles">
              <div class="envio">
                <i class="fas fa-truck"></i>
              </div>
              <p class="precio">$6.770</p>
              <span class="descuento">40% off</span>
            </div>
            <p class="descripciones">Cafetera Moulinex</p>
          </article>
          <article>
            <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" />
            <div class="detalles">
              <div class="envio">
                <i class="fas fa-truck"></i>
              </div>
              <p class="precio">$230.000</p>
              <span class="descuento">20% off</span>
            </div>
            <p class="descripciones">MacBook Pro 2019</p>
          </article>
          <article>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="galaxy" />
            <div class="detalles">
              <div class="envio">
                <i class="fas fa-truck"></i>
              </div>
              <p class="precio">$70.500</p>
              <span class="descuento"> 10% off</span>
            </div>
            <p class="descripciones">Samsung Galaxy S10</p>
          </article>
          <article>
            <img src="/images/img-tv-samsung-smart.jpg" alt="Smart-tv" />
            <div class="detalles">
              <div class="envio">
                <i class="fas fa-truck"></i>
              </div>
              <p class="precio">$6.770</p>
              <span class="descuento">40% off</span>
            </div>
            <p class="descripciones">SmartTv Samsung 43"</p>
          </article>
        </div>
      </section>
    </main>
    <footer>
      <div class="info">
        <section >
          <div>
            <i class="fas fa-credit-card"></i>
          </div>
          <h4>Pagá con tarjeta o en efectivo</h4>
          <p>
            Con MercadoLiebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </section>
        <section>
          <div>
            <i class="fas fa-gift"></i>
          </div>
          <h4>Envío gratis desde $ 2.500</h4>
          <p>
            Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </section>
        <section>
          <div>
            <i class="fas fa-user-shield"></i>
          </div>
          <h4>Seguridad, de principio a fin</h4>
          <p>
            ¿No te gusta? ¡Devolvelo! En MercadoLiebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </section>
      </div>
      <section class="copyright">
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </footer>
  </body>
</html>
